:root {
    --color-black: #000000;
    --color-dark-grey: #222222;
    --color-light-grey: #333333;
    --color-yellow: #fff000;
    --color-pale-yellow: #faf49a;
    --color-gold: #FFD700;
    --color-soft-pink: #ffb7b7;

    --font-rubik: 'Rubik';
    --font-rubik-mono-one: 'Rubik Mono One'; 
    --font-rubik-black: 'Rubik Black';
    --font-lato: 'Lato';
}

body {
    background-color: var(--color-black);
    color: var(--color-yellow);
}

.navbar {
    padding: 1%;
    font-family: 'Rubik Black';
    color: yellow!important;
}

h1 {
    color: yellow;
}

h1:hover {
    color: gold;
}

h3 {
    font-family: var(--font-rubik-black);
    font-size: 2em;

    color: var(--color-yellow);

    line-height: 1.2;
    cursor: default;
}

.navbar-brand:hover {
    color: gold;
}

.nav-item:hover {
    color: gold;
}

.fas.fa-home.fa-3x:hover {
    color: gold;
}

.card {
    background-color: black;
    border: 2px solid;
    border-color: yellow;
    border-radius: 10px;
    margin: 5% 7%;
}

#jadwal {
    padding-top: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
    padding-bottom: 5%;

    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
}