:root {
    --color-black: #000000;
    --color-dark-grey: #222222;
    --color-light-grey: #333333;
    --color-yellow: #fff000;
    --color-pale-yellow: #faf49a;
    --color-gold: #FFD700;
    --color-soft-pink: #ffb7b7;

    --font-rubik: 'Rubik';
    --font-rubik-mono-one: 'Rubik Mono One'; 
    --font-rubik-black: 'Rubik';
    --font-lato: 'Lato';
}

::selection {
    background: var(--color-soft-pink); /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: var(--color-soft-pink); /* Gecko Browsers */
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: var(--color-yellow);
}

body {
    margin: 0;
    font-size: medium;

    width: 100vw;
    height: 100%;

    background-color: var(--color-black);
}

h1 {    
    font-family: var(--font-rubik, 'sans serif');
    font-size: 15em;
    /* font-weight: bold; */
    letter-spacing: 1vw;

    color: var(--color-black);
    text-shadow: -3px -3px 0 var(--color-yellow), 3px -3px 0 var(--color-yellow), -3px 3px 0 var(--color-yellow), 3px 3px 0 var(--color-yellow);

    margin: 0%;
    padding: 0%;

    line-height: 1;
    cursor: default;
}

h2 {
    font-family: var(--font-rubik-black);
    font-size: 1em;

    color: var(--color-yellow);

    line-height: 1.2;
    cursor: default;
}

h3 {
    font-family: var(--font-rubik-black);
    font-size: 3em;

    color: var(--color-yellow);

    line-height: 1.2;
    cursor: default;
}

h4 {
    font-family: var(--font-rubik);

    text-decoration: underline;
    color: var(--color-yellow);

    line-height: 1.2;
    cursor: pointer;
}

h5 {
    font-family: var(--font-lato);
    font-size: 2em;
    letter-spacing: 1px;

    color: var(--color-pale-yellow);
    margin: 0%;
    padding: 0%;

    line-height: 1;
    cursor: default;
}

h6 {
    font-family: monospace;
    font-size: 1em;
    letter-spacing: 1px;

    color: var(--color-yellow);
    margin: 0%;
    padding: 0%;

    line-height: 1;
    cursor: default;
}

p {
    font-family: var(--font-lato);
    font-size: 1em;
    font-weight: 500;

    line-height: 2;

    color: var(--color-pale-yellow);
    cursor: default;
}

u {
    text-decoration: none;
}

u:hover {
    color: var(--color-gold);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: gold;
}

#mavbar-brand h3 a {
    font-family: var(--font-rubik);
}

.nav-link,
li.list-inline-item h2 {
    font-family: var(--font-rubik);
    color: var(--color-yellow);
}

.nav-dropdown-items {
    font-family: var(--font-rubik);
    color: var(--color-yellow);
}

/* .nav-dropdown-items:hover {
    color: var(--color-black);
} */

.dropdown-menu {
    background-color: var(--color-dark-grey);
}

.dropdown-menu:active {
    background-color: var(--color-dark-grey);
}


/* ===================== Title Page ===================== */
#navigation-bar {
    width: 100vw;
    height: 10vh;
}

#navbar-brand {
    font-family: var(--font-rubik);
    font-weight: 900!important;
    padding: 1% 4% 2.5% 5%;
}

#navbar-items {
    position: absolute;
    top: 3.5%;
    right: 4%;
}

.btn-group {
    padding: 0%;
    padding-top: 0.75%;
    margin-right: 0%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }

.dropdown-item:hover {   
    background-color: var(--color-yellow);
}

.dropdown-item:hover > span {
    color: var(--color-black);
}

.dropdown>.dropdown-toggle:active {
/*Without this, clicking will make it sticky*/
    pointer-events: none;
}

#title-page {
    width: 100vw;
    height: 90vh;
    font-size: 18px;
}

#title {
    position: relative;
    top: 20%;
}

#bubble-grey-1 {
    position: absolute;
    left: -0.5%;
    top: -0.5%;
    z-index: -1;
    /* right: -10%; */
}


/* Media Queries for Title Page */

@media (max-width: 768px) {
    #title-page {
        font-size: 15px;
    }

}

@media (max-width: 500px) {
    #title-page h1 {
        font-size: 10em;
        text-shadow: -1.5px -1.5px 0 var(--color-yellow), 1.5px -1.5px 0 var(--color-yellow), -1.5px 1.5px 0 var(--color-yellow), 1.5px 1.5px 0 var(--color-yellow);
    }
}

@media (max-width: 320px) {
    #title-page h1 {
        font-size: 8em;
    }
}




/* ===================== About Page ===================== */
#about-page {
    width: 100vw;
    height: 100vh;
}

/* Desciprtion Card */

#description {
    font-size: 18px;

}

.description-title {
    font-family: var(--font-rubik);
    font-weight: 900;
}

#description-paragraph {
    font-size: 1em;

    padding: 3% 10%;
    line-height: 1.7;
}


/* Media Queries for About Page */

@media (max-width: 768px) {
    #description {
        font-size: 14px;
    }
}




/* ===================== Portfolio Page ===================== */
#portfolio-page {
    font-size: 18px;
}

.portfolio-image {
    width: 70vw;
    border: 1px solid;
    border-color: var(--color-yellow);
}

#portfolio-content > p {
    padding: 1.5% 20% 4%;
    position: relative;

}

#active-slider-right {
    /* position: absolute;
    right: 10%;
    top: 30%; */

    font-size: 2em;
}

.slide-icon-fa {
    color: var(--color-yellow);
    font-size: 12px;
}

.slider-left {
    cursor: pointer;
    margin-right: 3%
}

.slider-right {
    cursor: pointer;
    margin-left: 3%;
}


.slider-left:hover {
    color: var(--color-gold);
}

.slider-right:hover {
    color: var(--color-gold);
}

.portfolio-image-captions {
    margin-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.fp-controlArrow {
    margin-left: 3%;
    /* padding-left: 2%; */
    margin-right: 3%;
    /* padding-right: 2%; */
}
.fp-controlArrow.fp-prev {
    visibility: hidden;
    /* background-color: var(--color-pale-yellow); */
    /* padding-left: 10%;
    padding-right: 10%; */
}
.fp-controlArrow.fp-next {
    visibility: hidden;
    /* background-color: var(--color-pale-yellow); */
    /* padding-left: 10%;
    padding-right: 10%; */
}


/* Media Queries for Portfolio Page */

@media (max-width: 768px) {
    #portfolio-page {
        font-size: 14px;
    }

    #portfolio-content > h3 {
        font-size: 25px;
    }

}


@media (max-width: 500px) {
    #portfolio-page {
        font-size: 14px;
    }

    #portfolio-content > h3 {
        font-size: 25px;
    }

    .slide-icon-fa {
        font-size: 7px;
    }

    .slider-left {
        margin-right: 3%;
    }
    
    .slider-right {
        margin-left: 3%;
    }
}




/* ===================== Expertise Page ===================== */

#expertise-page {
    width: 100vw;
    height: 100vh;
}

.card.card-body {
    padding-bottom: 0.5%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-black);
}

.card.card-body > ul > li > h5 {
    font-style: var(--font-lato);
    font-size: 1.75em;
}


/* ===================== Resume Page ===================== */

#resume-page {
    width: 100vw;
    height: 100vh;
}

#activities-button {
    width: 30%;
}

.btn {
    width: 300px;
    height: 55px;

    margin-top: 3%;

    border: 2px solid;
    border-color: var(--color-yellow);
    background-color: black;
    color: yellow;
    border-radius: 10px;

    font-style: normal;
    font-size: 18px;
    filter: opacity(90%);
}



/* ===================== Contacts Page ===================== */

.contacts-container {
    padding-left: 25%;
    padding-right: 25%;
}

/* .contacts-icons {
    padding-top: 7%;
} */

.contacts-icon {
    color: yellow;
    filter: saturate(-40%);
    filter: grayscale(20%);
}


