/* root */

/* font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Rubik', sans-serif; */

/* Main */

html {
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffb7b7; /* Gecko Browsers */
}


#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: yellow;
}

body {
    margin: 0%;
    padding: 0%;
    max-width: 100vw;
}

h1 {
    font-size: 19vw;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    line-height: 0.95;
    letter-spacing: 1.5rem;

    color: black;
    text-shadow: -3px -3px 0 yellow, 3px -3px 0 yellow, -3px 3px 0 yellow, 3px 3px 0 yellow;
}

h2 {
    color: yellow;
    font-family: 'Montserrat Subrayada';
    font-size: 1rem;
    -webkit-filter: grayscale(45%); 
    filter: grayscale(45%); 
}

h3 {
    color: yellow;
    font-family: 'Rubik Black', sans-serif;
    font-size: 2.75rem;
    font-weight: bold;
    padding-bottom: 3%;3}

h4 {
    font-size: 18px;
    color: yellow;
    font-family: monospace;
    -webkit-filter: grayscale(20%); 
    filter: grayscale(20%); 
}

h5 {
    color: yellow;
    font-family: 'Rubik Black', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    color: yellow;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.75;
    font-size: 1.175rem;
    -webkit-filter: grayscale(75%); 
    filter: grayscale(75%); 
}

u {
    text-decoration: none;
}

u:hover {
    color: gold;
}


/* Background */

#background {
    background-color: black;
}

.bulan {
    width: 80vw;
    position: absolute;
    
    left: 11%;
    top: 73vh;

    -webkit-filter: opacity(85%) grayscale(100%); 
    filter: opacity(85%) grayscale(100%);
}

/* Title Page */

#title-page {
    background-color: black;
}   

.container-fluid {
    background-color: black;
    padding: 0%;
    height: 100.1vh;

}

.title-box {
    padding-top: 13%;
    padding-bottom: 5%;
}


/* About Page */

#about-page {
    background-color: #222222;
    height: 100vh;
    padding-top: 0%;
    z-index: 1;
}

.about-card {
    padding-top: 4%;
}

.about-desc {
    margin-top: 8%;
    margin-bottom: 5%;
}

.about-desc.col-lg-3 {
    padding-left: 3%;
}

.about-desc.col-lg-9 {
    padding-top: 1.5%;
}

#about-paragraph {
    padding: 0% 5%;
}

.profile-picture {
    width: 16vw;
    height: 16vw;

    margin-left: auto;
    margin-right: auto;

    border: 5px solid;
    border-color: yellow;
    border-radius: 100%;

    -webkit-filter: grayscale(50%); 
    filter: grayscale(50%);
}

.profile-picture:hover {
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

.btn {
    position: relative;
    width: 255px;
    height: 80px;

    margin-top: 6%;
    margin-left: 5%;
    margin-right: 5%;

    border: 3px solid;
    border-color: yellow;
    background-color: black;
    color: yellow;
    border-radius: 10px;

    font-style: normal;
    font-size: 3vw;
    z-index: 2;
    filter: opacity(90%);
}

.book-silhouette {
    width: 100.1vw;
    position: fixed;
    top: 138vh;
    background-attachment: fixed;
    z-index: 1.1;

    filter: opacity(30%) grayscale(80%);
    -webkit-filter: opacity(30%) grayscale(80%);
    /* -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); */
}

.fa-moon {
    padding: 3%;
}

/* Portfolio Page */

.portfolio-page {
    height: 100vh;
    width: 100vw;

    background-color: #222222;
}

.portfolio-desc {
    padding: 17% 7% 17%;
}

.portfolio-images {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

.portfolio-image {
    width: 60%;
    margin: 30px 10px 10px 10px;
    border: 1px solid;
    border-color: gold;
    border-radius: 5px;
    filter: blur(0.5px) grayscale(100%);
}

.portfolio-image-captions {
    line-height: 1.3;
    visibility: hidden;
    transition: 0.2s;
}

.portfolio-box:hover .portfolio-image-captions {
    visibility: visible;
    line-height: 1.5;
}

.portfolio-box:hover .portfolio-image {
    filter: blur(0) grayscale(0%);
}

/* Resume Page */

#resume-page {
    background-color: #333333;
    height: 90vh;
    padding-top: 2%;
}

.resume.container {
    width: 50%;
}

.resume-title {
    margin-top: 10px;
}

.slider-items {
    width: 90%;
    padding: 3%;
}

.slider {
    margin-top: 25px;
}

.resume-image {
    margin: auto;
    height: 40vh;
    width: 40vh;
}

.resume-education {
    font-size: 1.25rem;
    padding-top: 0.5%;
}

.carousel-control-prev {
    padding-right: 10%;
}

.carousel-control-next {
    padding-left: 5%;
}


/* Contacts */

#contacts-page-headline {
    background-color: black;
    height: 10vh;
    padding-top: 1%;
}

#contacts-page {
    background-color: black;
    height: 20vh;
    padding-top: 1%;
}

.contacts-container {
    padding-left: 19%;
    padding-right: 19%;
}

.contacts-icons {
    padding-top: 7%;
}

.contacts-icon {
    color: yellow;
    filter: saturate(-40%);
    filter: grayscale(20%);
}



/* Footer */

#footer-page {
    background-color: black;
    height: 11vh;
    padding-top: 3%;
}

/* Media Queries */

@media only screen and (max-height: 700px) {
    .slider {
        padding-top: 10%;
        padding-bottom: 10%;
        height: 90vh;
    }

    .resume-image {
        height: 10px;
        width: 10px;
    }

    .resume-education {
        font-size: 1px;
    }

    .book-silhouette {
        top: 138vh;
    }
}

@media only screen and (max-width: 1280px) {
    .bulan {
        top: 80vh;
    }
    
    .book-silhouette {
        top: 138vh;
    }
}

@media only screen and (max-width: 768px) {
    .bulan {
        top: 85vh;
    }

    .book-silhouette {
        top: 170vh;
    }

    .profile-picture {
        width: 180px;
        height: 180px;
    }

    .about-desc {
        margin-top: 70px;
    }

    h3 {
        font-size: 30px;
    }

    h5 {
        font-size: 20px;
    }

    p {
        font-size: 13px;
    }

    .btn {
        margin-top: 100px;
        width: 200px;
        height: 70px;
    }

    .resume-image {
        width: 250px;
        height: 250px;
    }

    .portfolio-image-captions {
        line-height: 1.5;
        visibility: visible;
    }

    .portfolio-image {
        filter: grayscale(0%) blur(0px);
    }

}

@media (max-width: 767px) {
    .portfolio-images {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 576px) {
    .title-box {
        padding-top: 50%;
        padding-left: 10%;
        padding-right: 10%;
    }

    h1 {
        padding-left: 10%;
        margin-bottom: 15%;
        text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow, 1px 1px 0 yellow;

    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 15px;
    }

    h5 {
        font-size: 15px;
    }

    .resume-education {
        font-size: 15px;
    }

    p {
        font-size: 11px;
    }

    .profile-picture {
        width: 150px;
        height: 150px;
    }

    .description {
        margin-top: 20%;
    }

    .fa-moon {
        padding-top: 10px;
    }

    .btn {
        margin-top: 20%;

        width: 150px;
        height: 60px;
    }

    .book-silhouette {
        top: 183vh;
    }

    .bulan {
        top: 92vh;
    }

    .slider {
        padding-left: 15%;
    }

    .slider-items {
        width: 300px;
        height: 300px;
        font-size: 0.1em;
    }

    .resume-image {
        width: 200px;
        height: 200px;
    }

    .contacts-icons {
        font-size: 10px;
        padding-bottom: 10px;
    }

    .portfolio-images {
        display: block;
    }

}

@media only screen and (max-width: 375px) {
    .bulan {
        top: 93vh;
    }

    .book-silhouette {
        top: 185vh;
    }

    h1 {
        padding-right: 10%;
        letter-spacing: 1rem;
    }

    .title-box {
        margin-top: 30%;
        padding-left: 15%;
        padding-right: 15%;
    }

    .btn {
        width:110px;
        height: 50px;
    }

    h5 {
        font-size: 10px;
    }

    p {
        font-size: 9.5px;
    }
}