<!DOCTYPE html>

<nav>
    <nav class="navbar container">
        <a class="navbar-brand" href="{% url 'homepage' %}"><h1>BADI.</h1></a>

        <div class="nav-item">
            <a href="{% url 'blog' %}" id="nav-icons1" data-toggle="tooltip" data-placement="bottom" title="activities">
                <i class="fas fa-user-astronaut fa-2x ml-3" style="color: yellow;"><span class="nav-desc" id="nav-desc1" style="float: right;">activities</span></i> 
            </a>

            <a href="{% url 'blog' %}" id="nav-icons2" data-toggle="tooltip" data-placement="bottom" title="blog">
                <i class="fas fa-globe-africa fa-2x ml-3" style="color: yellow;"><span class="nav-desc" id="nav-desc2" style="float: right;">blog</span></i> 
            </a>
        </div>
    </nav>
</nav>