<!DOCTYPE html>

{% include "eventpage-templates/eventbase.html" %} 

<style>
    .button {
        color: yellow;
        background-color: #333333;

        width: 50%;
        height: 5vh;
        border: none;
        border-radius: 5px;

        font-weight: bolder;
    }

    .button:hover {
        background-color: #222222;
    }

    h3 {
        font-family: 'Rubik';
        cursor: default;
    }

    h1 {
        font-family: 'Rubik Black';
    }

    .bodyblock {
        margin-top: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
        
        border-bottom: 1px solid yellow;
        border-top: 1px solid yellow;
    }

    div > form > p > label {
        margin-left: 25%;
        visibility: hidden;
    }

    form > button {
        margin-left: 25%;
    }

    .title {
        cursor: default;
    }

    a {
        color: yellow;
        text-decoration: none;
        text-decoration-color: none;
    }

    a:hover {
        color: gold;
        text-decoration: none;
        text-decoration-color: none;
    }

    /* .backbutton {
        position: absolute;
        /* right: 15%; */
        margin-left: auto;
    } */
</style>

{% block content %}

<div class="container bodyblock">

    <!-- <a href="{% url 'event' %}" class="backbutton ml-auto"><i class="fas fa-chevron-circle-left fa-2x"></i></a> -->

    <div class="mb-3 title text-center">
        <h3>Join me as i venture the event</h3>
        <h1>{{ event.nama_event }}</h1>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ guestform.as_p }}

        <button type="submit" class="button button-modal mt-3"><h6>off we go then!</h6></button>
    </form>

</div>

{% endblock %}