<!DOCTYPE html>

{% include "datetimepage-templates/datetimebase.html" %} 


{% block content %}

<div class="text-center" style="margin-top: 15%;">
    <h1>{{ now }}</h1>
</div>

{% endblock %}